@import '@style/mixins.less';
@import '@style/variables.less';

.credential-details {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    font-family: Arial, sans-serif;

    .credential-details--link {
        background-color: @secondary-color;
        text-decoration: none;
        color: @white-background;
        font-size: 1.5rem;
        padding: 5px 2rem;
        border-radius: 10px;
        .border();
    }
}
