@import '@style/mixins.less';
@import '@style/variables.less';

.credential-item__link {
    text-decoration: none;
    color: inherit;
}

.credential-item {
    .card-container();

    pointer-events: none;
    transition:
        transform 0.2s ease-in-out,
        box-shadow 0.2s ease-in-out;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.15);
    }

    h2 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 10px;
        color: #333;
    }

    img {
        width: 80px;
        height: auto;
        display: block;
        margin-bottom: 10px;
    }

    p {
        font-size: 1rem;
        margin: 5px 0;
        color: #666;

        span {
            font-weight: bold;
            font-size: 1.1rem;
        }
    }

    .credential-item--status {
        padding: 5px 10px;
        font-size: 0.9rem;
        font-weight: bold;
        border-radius: 5px;
        display: inline-block;
        margin-top: 5px;
    }

    .credential-item--status__revoked {
        background: #ffcccc;
        color: @revoked-status-color;
        .border(1px, @revoked-status-color);
    }

    .credential-item--status__expired {
        background: #ffe5b4;
        color: @expired-status-color;
        .border(1px, @expired-status-color);
    }

    .credential-item--status__active {
        background: #d4edda;
        color: @active-status-color;
        .border(1px, @active-status-color);
    }
}
