.credential-overview {
    overflow-x: auto;
    border-radius: 10px;
    padding: 20px;

    table {
        width: 40%;
        border: 1px solid #ddd;
        border-radius: 10px;
        border-collapse: collapse;
        font-size: 14px;
        color: #333;

        tbody {
            tr {
                transition: background 0.2s ease-in-out;

                &:hover {
                    background: #f9f9f9;
                }
            }

            td {
                padding: 12px;
                border-bottom: 1px solid #ddd;
            }
        }
    }
}
